# python files
*.py[cod]
__pycache__/

# settings
settings.json
config.py

# jupyter notebook
.ipynb_checkpoints/
scratch.ipynb
dev.ipynb

# vscode
.vscode/

# virtual environment
env/
venv/

# compiled prototypes
proto.c
proto.dll

# sysmon files
sandbox/sysmon/Eula.txt
sandbox/sysmon/Sysmon*

# exe files
*.exe
sample_under_test
